.linkWrapper{
    display: flex;
    flex-direction: row;

    & .linkItem{
        margin-left: 10px;
    }

    & .linkItem{
        color:rgba(0, 0, 0, 0.302);
        &:hover{
            color:rgba(2, 2, 2, 0.7);
        }
        &:hover .img *{
            fill: #020202b3;
        }
        // &:focus{
        //     color:rgba(2, 2, 2, 0.7);
        // }

    }
    .linkItemChange{
        margin-left: 10px;
        color:rgba(2, 2, 2, 0.7);
        .img *{
            fill: #020202b3;
        }
    }

}